p {
   @apply font-body text-base text-black dark:text-white;
   transition: all 0.3s ease-in-out;
   white-space: wrap;
   text-align: start;
   line-height: 1.5;
}

.chip {
   text-transform: capitalize;
   font-weight: 600;
}

.badge {
   cursor: default;
}