---
// @ts-expect-error
import { t, l, astroI18n } from "astro-i18n";
import PageLayout from "@/layouts/PageLayout.astro";
import Hero from "@/lib/components/Common/Hero/Hero.astro";
import Breadcrumbs from "@/lib/components/Core/Breadcrumbs.astro";
import { pagesIcons } from "@/lib/config/icons";
import Section from "@/lib/components/Core/Section.astro";
import CallToAction from "@/lib/components/Content/CallToAction.astro";
import Card from "@/lib/components/Common/Card/Card.astro";

import type { BlogPostFrontmatter } from '@/content/blog/schema'
import { getCollection } from "astro:content";

let allBlogPosts: BlogPostFrontmatter[] = [];
await getCollection("blog").then((collection) => { //@ts-expect-error
   allBlogPosts = collection.filter((post) => !post.data.isDraft).filter((post) => post.data.language === astroI18n.langCode);
});
// const authorMiro = await getEntry("authors", "miro");
---

<PageLayout title={t('nav.blog.title')}>

   <Hero slot="hero" subtitle={t('pages.blog.intro')}>
      {t('nav.blog.title')}
   </Hero>

   <Breadcrumbs slot="breadcrumbs" crumbs={[
      {label: t('nav.blog.title'), slug: l('blog'), icon: pagesIcons.blog},
   ]}/>

   <Section id={t('nav.blog.title')}>
      <div class="grid-1-2-3 min-h-fit">

         { allBlogPosts.length === 0 && (
            <p>{t('pages.blog.no_posts')}</p>
         )}
         {allBlogPosts.map((post) => (
            <Card 
               title={post.data.title}
               href={l('blog' + '/' + post.slug)}
               description={post.data.description}
               img={post.data.image}
            />
         ))}
      </div>
   </Section>

   <!-- CTA -->
   <CallToAction />
   <!-- END CTA -->

</PageLayout>
