---
import PageLayout from '@layouts/PageLayout.astro';
import FormattedDate from '@comp/Utils/FormattedDate.astro';
import Hero from '@comp/Common/Hero/Hero.astro';
import type { BlogPostFrontmatter } from '@/content/blog/schema';
export interface Props {
	post: BlogPostFrontmatter;
}

const { post } = Astro.props;

// const { content } = post;
const { 
	title, description, publishDate 
} = post.data;

const datePublished = new Date(publishDate);
---

<PageLayout title={title} description={description}>
		<Hero slot="hero">{title}</Hero>
			<div class={`flex flex-col py-2`}>
				<FormattedDate date={datePublished} type="published" />
				<!-- <FormattedDate date={new Date(updatedAt)?? datePublished} type="updated" /> -->
			</div>
		</Hero>
		<article>
			<slot />
		</article>
</PageLayout>
