---
   // @ts-ignore
   import { astroI18n } from "astro-i18n"
   astroI18n.init(Astro)

   import { website } from '@/lib/config';
   
   import Shell from './Shell.astro'
   import Head from '@/lib/components/Core/Head.astro';
   import SvelteHead from '@/lib/components/Core/Head.svelte';
   import Navbar from "@/lib/components/Core/Header/Navbar.astro";
   import Footer from '@/lib/components/Core/Footer.astro';
   
   export interface Props {
      title: string;
      description?: string;
   }

   const { title, description = '' } = Astro.props;
---

<!DOCTYPE html>
<html class="
   !w-screen !max-w-full !overflow-x-hidden 
   scroll-mx-0 bg-white dark:bg-slate-900 dark:text-white">

   <head>
      <Head 
        title={`${website.title} | ${title}`} 
        description={description?? website.description} />
      <SvelteHead client:load />
  
      <slot name="head"/>
    </head>
  
    <body data-theme="mist-theme" class="min-h-screen !w-screen !max-w-full !overflow-x-hidden">
      <!-- <Header width={widths} /> -->
      <div class='mx-auto flex flex-col w-full h-full'>
         <Shell 
            klass="min-h-screen"
            slots={{
               header: true,
               pageHeader: true,
               pageFooter: true,
            }}
         >
            <Navbar slot="header" />
            <div slot="pageHeader" class="w-full relative mt-24 flex flex-col">
               <slot slot="breadcrumbs" name="breadcrumbs"></slot>
               <slot slot="hero" name="hero"></slot>
            </div>
            <main class="w-full mx-auto p-0 m-0">
               <slot></slot>
            </main>
            <Footer slot="pageFooter" />
         </Shell>
      </div>
  
      <!-- <BaseScripts/> -->
      <!-- <script type="module" src="node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
      <script type="module" src="node_modules/@splidejs/splide-extension-auto-scroll/dist/js/splide-extension-auto-scroll.min.js"></script> -->
    </body>

</html>